SUPABASE_URL=https://mvotmnorojrhycecthcn.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_TLvgXI9UYtcXYl6Kzoy0uw_LSbgI4cD

SUPABASE_DB_HOST=db.mvotmnorojrhycecthcn.supabase.co
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=your-database-password
SUPABASE_DB_SSL=true
